main {
  padding: rem-calc(30) 0;
}

.layout {
  @include grid-row;
}

#controls {
  width: 100%;
  position: fixed;
}

.input {
  @include grid-row;
  span {
    @include grid-column($columns: 4);
  }
  input {
    @include grid-column($columns: 8);
  }
}

#info {
  @include grid-column($columns: 3, $push: 9);
  background: map-get($colors, "panel-bg");
  padding: rem-calc(30);
}

#content {
  @include grid-column($columns: 9);
}

#amortization {
  width: 100%;
}

table {
  tr {
    &.year-summary {
      background-color: map-get($colors, "summary-row");
    }
    &.extra {
      background-color: map-get($colors, "extra-row");
    }
  }
}

#summary {
  @include grid-row;
  margin-bottom: rem-calc(30);
  dl {
    @include grid-column($columns: 3);
  }
}
