main {
  
}

.layout {
  @include grid-row;
}

#controls {
  width: 100%;
  position: fixed;
}

#info {
  @include grid-column($columns: 3, $push: 9);
  background: map-get($colors, "panel-bg");
  padding: rem-calc(30);
}

#content {
  @include grid-column($columns: 9);
}