include _components

doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Amortizer
    link(rel="stylesheet" href="stylesheets/app.css")
    script(src="bower_components/modernizr/modernizr.js")
    script(src="bower_components/angular/angular.js")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
  body

    header
      h1 Amortizer

    include components/_controls

    main.layout
      #content
        include components/_summary_panel
        include components/_amortization

    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/moment/moment.js")
    script(src="bower_components/accounting.js/accounting.min.js")
    script(src="js/amortizer.js")
    script(src="js/app.js")
