include _components

doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Amor
    link(rel="stylesheet" href="stylesheets/app.css")
    script(src="bower_components/modernizr/modernizr.js")
    script(src="bower_components/angular/angular.js")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
  body

    include components/_controls

    main.layout
      #content
        h1 Amor
        include components/_summary_panel
        table#amortization
          thead
            tr
              th Date
              th Interest
              th Principal
              th Balance
          tbody

    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/moment/moment.js")
    script(src="bower_components/accounting/accounting.min.js")
    script(src="js/amortization.js")
    script(src="js/app.js")