#summary.panel
  dl
    dd#summary-monthly-payment $0.00
    dt Monthly Principal &amp; Interest
  dl
    dd#summary-total-payment $0.00
    dt Total of <span class="num-payments">_</span> Payments
  dl
    dd#summary-total-interest $0.00
    dt Total Interest Paid
  dl
    dd#summary-pay-off-date
    dt Pay-off Date