#summary.panel
  dl
    dd#summary-monthly-payment $0.00
    dt Monthly Payment
  dl
    dd#summary-total-payment $0.00
    dt After <span class="num-payments">()</span> Payments
  dl
    dd#summary-total-interest $0.00
    dt Total Interest
  dl
    dd#summary-pay-off-date ()
    dt Pay-off